<ion-content>

  <nav class="menu admin">
    <input type="checkbox" class="menu-open" [checked]="expandOptions"/>
    <input type="checkbox" class="categories-menu-open" id="categories-menu-open" [checked]="expandCategories"/>

    <button
      (click)="goTo('home')"
      large
      class="menu-open-button large"
      ion-button
      color="noHomo">
      <ion-icon name="md-home" style="zoom:2.0;"></ion-icon>
    </button>

    <button large
            class="menu-item"
            ion-button
            (click)="signIn_Out()"
            color="noHomo">
      <ng-template [ngIf]="authProvider.isLoggedIn" [ngIfElse]="loggedOut">
        <ion-icon name="ios-log-out" style="zoom:1.5;"></ion-icon>
      </ng-template>
      <ng-template #loggedOut>
        <ion-icon name="ios-log-in" style="zoom:1.5;"></ion-icon>
      </ng-template>
    </button>

    <button large
            class="menu-item"
            ion-button
            (click)="goTo('profile')"
            color="noHomo">
      <ion-icon name="md-person" style="zoom:1.5;"></ion-icon>
    </button>

    <button *ngIf="isAdmin"
            large
            class="menu-item"
            ion-button
            (click)="doSomething('adminButton')"
            color="noHomo">
      <ion-icon name="ios-settings" style="zoom:1.5;"></ion-icon>
    </button>

    <button *ngIf="!isAdmin"
            large
            class="menu-item"
            ion-button
            (click)="goTo('myChats')"
            color="noHomo">
      <ion-icon name="ios-chatbubbles" style="zoom:1.5;"></ion-icon>
    </button>

    <button large
            class="menu-item categories-item"
            ion-button
            color="noHomo">
      <!--<ion-icon name="ios-search" style="zoom:1.5;"></ion-icon>-->
      <label for="categories-menu-open">
        <ion-icon name="ios-search" style="zoom:1.5;"></ion-icon>
      </label>
    </button>

    <div class="categories">
      <button *ngFor="let category of categories; let i = index"
              ion-button
              [ngClass]="['categories-menu-item', category.name]"
              (click)="goTo('category', category.filter)"
      >
        <fa-icon style="zoom:1.5;" [icon]="category.icon"></fa-icon>
      </button>
    </div>

    <!--<div class="categories">-->
      <!--<button *ngFor="let category of categories; let i = index"-->
              <!--ion-button-->
              <!--class="categories-menu-item {{category.name}}"-->
              <!--(click)="doSomething(i + 1)">-->
        <!--<fa-icon style="zoom:1.5;" [icon]="category.icon"></fa-icon>-->
      <!--</button>-->
    <!--</div>-->
  </nav>

</ion-content>
