page-profile-edit {
  ion-content{
     background-color: #EBEBEB !important;
   }
  ion-card{
    border-radius: 10px !important;
    margin-top: 30px !important;
  }
  .item-inner{
    margin-left: 5px !important;
    margin-right: 20px;

  }
}
