<ion-header>
  <ion-navbar>
    <ion-title>Selfploy</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid>

    <ion-row *ngFor="let row of categories">
      <ion-col *ngFor="let col of row "
               [ngClass]="['categories-menu-item', col.name]">
        <button full clear ion-button (click)="goTo(col)">
          <fa-icon style="zoom:2;" [icon]="col.icon"></fa-icon>
          <p class="categoryName">{{col.title}}</p>
          <p *ngIf="col.count == 1; else manyUsers" class="categoryAvailability">{{col.count}} user</p>
          <ng-template #manyUsers class="categoryAvailability">
            <p class="categoryAvailability">{{col.count}} users</p>
          </ng-template>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
