page-home{
  .test{
    max-width: 100% !important;
    height: 260px !important;
  }
  /*ion-card{
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  }*/
  ion-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    //transition: 0.3s;
    border-radius: 20px !important; ;
    margin-bottom: 20px !important;
  }

  //ion-card:hover {
  //  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  //  transform: scale(1.02)
  //}

}


/*

  ion-content{
    background-color: #EBEBEB !important;
  }
  ion-card{
    border-radius: 10px !important;
    margin-top: 30px !important;
    width: 200px !important;
    height: 400px !important;
  }
  .item-inner{
    margin-left: 5px !important;
    margin-right: 20px;

  }
  ion-avatar{
    width: 200px;
    height: 200px;
  }

}
*/

