page-home {
  ion-content div.scroll-content {
    overflow: hidden;
  }


  ion-grid {

    height: 100%;
    padding: 0 !important;

    ion-row {
      height: 100%;

      ion-col {

        $buttons: (
          shower       #6fbacd #286575 ,
          lightbulb    #fed24f #a57c00 ,
          hammer       #f09146 #8f450b ,
          paint-roller #56ac5b #2a562d ,
          laptop       #999999 #4c4c4c ,
          key          #995681 #4c2b40
        );

        @each $button in $buttons {
          &.#{nth($button, 1)} {
            background-color: #{nth($button, 2)} !important;

            .button-effect {
              background-color: #{nth($button, 3)};
            }
          }
        }

        padding: 0 !important;

        button {
          margin: 0 !important;
          height: 100% !important;

          .button-inner {
            display: contents;
          }

          fa-icon, p {
            color: white;
          }
        }
      }
    }
  }
}
