page-chat-list {

  .chat-sliding-demo img {
    pointer-events: none;
  }

  .login-sliding-demo .ion-logo-twitter {
    color: #53ACEB;
  }

  .login-sliding-demo .ion-logo-github {
    color: #000000;
  }

  .login-sliding-demo .ion-logo-instagram {
    color: #235D8D;
  }

  .scroll-content {
    padding: 10px 0 0 !important;
  }
}




